numpy
pandas
scipy
openpyxl
xlrd
xlsxwriter
plotly
dash
dash-bootstrap-components
dash-extensions
dash-mantine-components
dash-datatables
geopandas
shapely
rtree
pyproj
Flask
Flask-SQLAlchemy
Flask-Migrate
WTForms
Flask-WTF
flask-bcrypt
flask-login
email_validator
psycopg2
psycopg2-binary
SQLAlchemy
GeoAlchemy2
persiantools
pytest